.authForm {
    width: 100%;
    max-width: 40%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    left: 30%;
    top: 30%;
  }
  
  .authButtons {
    display: flex;
    justify-content: space-between;
  }
  
  .authButton {
    width: 135px;
    height: 48px;
    background-color: transparent;
    color: black;
    border: 1px solid #7828c8;
    border-radius: 14px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    cursor: pointer;
  }
  .authButtonActive {
    width: 135px;
    height: 48px;
    background-color: #7828c8;
    color: #ffffff;
    border: none;
    border-radius: 14px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
  }
  
  .inputField input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #af52de;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #9ca3af;
  }
  
  .signInButton {
    width: 100%;
    height: 48px;
    background-color: #8e258d;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }